### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Maven Wrapper
mvnw
mvnw.cmd

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!**/maven-wrapper.jar
